.vs/*
/.vs
*.[oa]
*.exe
*.cbp
*.depend
bin/
obj/
.exe
*.layout
.layout
*.log
.project
 
properties/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Pp]ublish/
x64/
x86/

App_Data/

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/


ipch/
*.db
*.vcxproj
*.filters
stdafx.h
stdafx.cpp
targetver.h
StdAfx.h
internal-nlog.txt
appsettings.Development.json
appsettings.Production.json
appsettings.Test.json
nlog.Test.config
nlog.Production.config


*.sh
