<?xml version="1.0" encoding="UTF-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
      autoReload="true"  
      internalLogLevel="Warn"  
      internalLogFile="internal-nlog.txt">  
  <default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
  <!--define various log targets-->  
  <targets>  
  
    <!--write logs to file-->  
    <target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log"  
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />  
  
    <target xsi:type="File" name="ownFile-web" fileName="logs/nlog-my-${shortdate}.log"  
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />  
  
    <target xsi:type="Null" name="blackhole" />  
    <target name="console" xsi:type="ColoredConsole"
      layout= "${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" useDefaultRowHighlightingRules="false">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green"  />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        
    </target>
    <target name="debugger" xsi:type="Debugger"
     layout= "${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
  </targets>  
  
  <rules>  
  
    <!--Skip Microsoft logs and so log only own logs-->  
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true" /> 
    <!--All logs, including from Microsoft-->  
    <!--输出到vs的应用程序输出控制台-->
    <logger name="*" minlevel="Info" writeTo="debugger"/>
    <!--输出到CMD的运行控制台,可以带颜色-->
<!--    <logger name="*" minlevel="Info" writeTo="console"/>-->
    <!--输出到文件-->
    <logger name="*" minlevel="Info" writeTo="allfile" />
   
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />  
    
  </rules>  
  
  
</nlog> 